* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
    color: #969EA2;
}

#main-nav {
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: #c23321;
    position: fixed;
    color: #fff;
    z-index: 100;
    max-height: 62px;
}

#main-nav #toggleMenu{
    float: left;
    display:none;
    transform:scale(0.5);
    vertical-align:middle;
}

#main-nav #logo {
    float: left;
    display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
}
#main-nav #logo h1{
    margin:0;
}

#nav-container{
    display: block;
    margin: 0;
    position: fixed;
    width: 100%;
    vertical-align: middle;
    text-align: right;
    z-index: 100;
    transition: all 1s ease-in-out;
}
#nav-container>ul{
    margin: 0;
}
#nav-container>ul>li{
    list-style: none;
    display: inline-block;
    width: auto;
    margin: 0;
    text-align: left;
    vertical-align: bottom;
}

#nav-container>ul>li>img {
    display: inline-block;
    transform: scale(0.5);
}

#nav-container li:hover{
    cursor: pointer;
}

#nav-container>ul>li>span:hover{
    cursor: pointer;
}

.search {
    display: inline-block;
    float: left;
    border: 0;
    border-radius: 4px;
    color: #969EA2;
    background-color: transparent;
    text-align: right;
    vertical-align: middle;
}

.search:focus {
    outline: -webkit-focus-ring-color none 0px;
}

@media(max-width: 992px) {    

    #main-nav #toggleMenu{
        float: left;
        display:inline-block;
        transform:scale(0.5);
        vertical-align:middle;
    }

   #nav-container {
        display: none;
        padding: 10px;
        vertical-align: middle;
        text-align: right;
        max-height: none;
        background-color: #c23321;
        position: fixed;
        top: 52px;
        transition: all 1s ease-in-out;
    }
    #nav-container>ul{
        padding:0;
    }
    #nav-container>ul>li {
        list-style: none;
        display: inline;
        width: auto;
        margin: 10px 0px;
        padding: 20px;
        text-align: center;
        vertical-align: bottom;
    }
    .search {
        display: inline-block;
        float: right;
        border: 0;
        border-radius: 4px;
        color: #969EA2;
        background-color: transparent;
        text-align: right;
        vertical-align:middle;
    }
}

@media (max-width: 768px) {

    #main-nav #toggleMenu{
        float: left;
        display: inline-block;
        transform:scale(0.5);
        vertical-align:middle;
        position: relative;
    }

       #nav-container {
            display: none;
            padding: 10px;
            vertical-align: middle;
            text-align: right;
            max-height: none;
            background-color: #c23321;
            position: fixed;
            top: 52px;
            transition: all 1s ease-in-out;
        }
    #nav-container>ul{
        padding:0;
    }

    #nav-container>ul>li {
        list-style: none;
        display: inline;
        width: auto;
        margin: 10px 0px;
        padding: 0 !important;
        text-align: center;
        vertical-align: bottom;
    }
    #nav-container>ul>li>img {
        display: block;
        transform: scale(0.35);
    }
    .search {
        display: inline-block;
        float: right;
        border: 0;
        border-radius: 4px;
        color: #969EA2;
        background-color: transparent;
        text-align: right;
        width: 70px;
        vertical-align: middle;
    }
}

#sidebar {
    position: fixed;
    left: 0;
    top: 62px;
    background-color: #f5f5f5;
    bottom: 0;
    right: 80%;
    width:auto;
    z-index: 100;
    transition: all 1s ease;
}

#sidebar .toggleBar {
    display: none;
    width: 10px;
    height: 30px;
    background-color: #969EA2;
    position: absolute;
    top: 30%;
    cursor:pointer;
    transition: all 1s ease;
}

#sidebar ul {
    border-bottom: 1px solid #fff;
    padding: 10px;
    text-align: left;
    display: block;
    transition: all 1s ease;
}

#sidebar li {
    list-style: none;
    width: auto;
    padding: 10px;
    font-weight: 100;
    font-size: 0.9em;
    /*color: #969EA2;*/
}

#sidebar li a:hover {
    transition: all 0.5s ease;
}

#sidebar li a:hover {
    cursor: pointer;
    /*color: #969EA2;*/
    transform: scale(1.1);
    transform-origin: center left;
}

.hidden{
    display:none;
}

.visible{
    display: block !important;
}

@media (max-width:992px) {
    #sidebar {
        position: fixed;
        left: 0;
        top: 62px;
        background-color: #f5f5f5;
        bottom: 0;
        right: 100%;
        width:auto;
        z-index: 100;
        transition: all 1s ease;
    }
    #sidebar .toggleBar {
        display: block;
        width: 10px;
        height: 30px;
        background-color: #969EA2;
        position: absolute;
        top: 30%;
        cursor:pointer;
        transition: all 1s ease;
    }
    #sidebar ul {
        border-bottom: 1px solid #fff;
        padding: 10px;
        text-align: left;
        display: none;
        transition: all 1s ease;
    }
}

@media (max-width:768) {
    #sidebar {
        position: fixed;
        left: 0;
        top: 57px;
        background-color: #f5f5f5;
        bottom: 0;
        right: 100%;
        width:auto;
        z-index: 100;
        transition: all 1s ease;
    }
    #sidebar .toggleBar {
        display: inline;
        width: 10px;
        height: 30px;
        background-color: #969EA2;
        top: 30%;
        cursor:pointer;
        transition: all 1s ease;
    }
    #sidebar ul {
        border-bottom: 1px solid #fff;
        padding: 10px;
        text-align: left;
        display: none;
        transition: all 1s ease;
    }
}

.article {
    position: relative;
    top: 57px;
    left: 20%;
    padding: 0 10px;
    width: 80%;
}

.article-title {
    padding: 10px;
    border-bottom: 1px solid #eee;
    /*color: #969EA2;*/
}

@media (max-width:992px) {
    .article {
        position: relative;
        top: 57px;
        left: 10px;
        padding: 0px 10px;
        width: 100%;
    }
}

@media (max-width:768) {
    .article {
        position: relative;
        top: 57px;
        left: 10px;
        padding: 0px 10px;
        width:100%
    }
}

.count {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.count.overdue {
    background-color: #E26C6C;
}

.count.today {
    background-color: #F7DD61;
}

.count.week {
    background-color: #00B8FF;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table tr>td {
    margin: 10px 0;
    padding: 10px 0;
}

.table tr>td:first-child,
th:first-child {
    max-width: 20px;
    text-align: center;
}

.table tr>td:last-child {
    text-align: right;
}

.table button{
    transform: scale(0.5);
}

.status {
    min-width: 10px;
    padding: 3px 10px;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #777;
    border-radius: 13px;
}

.status.overdue {
    border: 3px solid red;
}

.status.inprogress {
    border: 3px solid orange;
}

.status.complete {
    border: 3px solid green;
}

#new-task,
#new-group {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    padding: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -200px;
    display: none;
    z-index: 0;
    transition: all 2s linear;
}

#new-task>form,
#new-group>form{
    margin:50px;
}
.closeForm{
    text-align:right;
    width: 100%;
    float: right;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    cursor:pointer;
}

@media (max-width: 992px) {
    #new-task,
    #new-group {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 10px;
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        padding: 10px;
        position: fixed;
        left: 50%;
        margin-left: -150px;
        top: 50%;
        /* right: auto; */
        margin-top: -200px;
        display: none;
        z-index: 0;
        transition: all 2s linear;
    }
}

@media (max-width: 768px) {
    #new-task,
    #new-group {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 10px;
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        padding: 10px;
        position: fixed;
        left: 50%;
        margin-left: -150px;
        top: 50%;
        margin-top: -200px;
        /* bottom: auto; */
        display: none;
        z-index: 0;
        transition: all 2s linear;
    }
}
